body{
    /* background: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) */
    /* background: black; */
}

.makeCursorHand p ::hover{
    cursor: pointer;
}

a{
    color: rgb(8, 8, 8);
    text-decoration: none;
}